/* Corrigindo alguns detalhes */
.icon-home {
    width: 30px;
    height: 30px;
}

.ul-desktop-two {
    padding-left: 21px;
}

/* Fim da correção de detalhes */

/* Estilizando a seção de notícias principais */
.main-news {
    margin-top: 2.8rem;
    padding-bottom: 2.5rem;
}

.main-news-content {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.main-one {
    color: var(--primarycolor);
    width: 49%;
    height: 500px;
    position: relative;
    /* background-color: red; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 2% 40px 30px;
    background-image: url('../img/main-one-bg.jpg');
    background-position: center;
    background-size: 100% 100%;
}

.main-one::before,
.main-two::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.main-one>h2,
.main-two>h2 {
    font-size: 2.5rem;
    color: #ffffff;
    z-index: 10000;
}

.main-one>p,
.main-two>h2,
.main-two>p {
    z-index: 10000;
}

.main-news-wraper {
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-two {
    width: 100%;
    height: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 2% 30px 30px;
    /* background-color: red; */
    border-radius: 25px;
    background-image: url('../img/main-two-bg.jfif');
    background-size: 100% 100%;
    background-position: center;
}

/* Fim da seção de notícias principais */

/* Estilizando a segunda seção de notícias */
.other-news {
    padding: 50px 2% 40px 2%;
}

.other-contents {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.other-item {
    width: 100%;
    background-color: var(--primarycolor);
    border-radius: 25px;
    padding: 20px 0 20px 30px;
    display: flex;
    gap: 20px;
}

.other-bg {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    background-color: red;
    background-image: url('../img/main-two-bg.jfif');
    background-position: center;
    background-size: 100% 100%;
}

.other-text {
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.other-main>p {
    margin-top: 8px;
}

/* Estilizando botão flutuante */
.floating-filter {
    position: fixed;
    bottom: 60px;
    right: 20px;
    border: 4px solid var(--fontcolor);
    width: 65px;
    height: 65px;
    background-color: var(--primarycolor);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.floating-button {
    background: none;
    border: 0;
}

.floating-button>img {
    width: 32px;
    transform: translateY(3px);
}

/* Fim do botão flutuante */

/* Fim da segunda seção de notícias */

@media (width <=940px) {

    /* Seção de notícias - responsiva*/
    .main-news-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .main-one {
        width: 80%;
        height: 400px;
    }

    .main-news-wraper {
        width: 80%;
        gap: 20px;
    }
}

@media (width <=690px) {
    .other-contents {
        align-items: center;
    }

    .other-item {
        width: 80%;
        padding: 20px 2% 20px 2%;
        flex-direction: column;
        align-items: center;
    }

    .other-bg {
        width: 90%;
        height: 195px;
    }

    .other-text {
        width: 90%;
    }

    .other-text>span {
        margin-top: 15px;
    }
}

@media (width <=600px) {
    .main-one {
        width: 100%;
        height: 250px;
        gap: 15px;
        padding: 0 2% 20px 20px;
    }

    .main-news-wraper {
        display: none;
    }
}

@media (width <=420px) {
    .other-bg {
        height: 190px;
    }

    /* Fim das seções de notícias - responsivas */
}