.main-news {
    margin-top: 2.8rem;
    padding-bottom: 1rem;
}

.main-news-content {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.main-one {
    color: var(--primarycolor);
    width: 49%;
    height: 500px;
    position: relative;
    /* background-color: red; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 2% 40px 30px;
    background-image: url('../img/main-one-bg.jpg');
    background-position: center;
    background-size: 100% 100%;
}

.main-one::before,
.main-two::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.main-one>h2,
.main-two>h2 {
    font-size: 2.5rem;
    color: #ffffff;
    z-index: 10000;
}

.main-one>p,
.main-two>h2,
.main-two>p {
    z-index: 10000;
}

.main-news-wraper {
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-two {
    width: 100%;
    height: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 2% 30px 30px;
    /* background-color: red; */
    border-radius: 25px;
    background-image: url('../img/main-two-bg.jfif');
    background-size: 100% 100%;
    background-position: center;
}

@media (width <=940px) {
    .main-news-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .main-one {
        width: 80%;
        height: 400px;
    }

    .main-news-wraper {
        width: 80%;
        gap: 20px;
    }
}

@media (width <=600px) {
    .main-one {
        width: 100%;
        height: 250px;
        gap: 15px;
        padding: 0 2% 20px 20px;
    }

    .main-news-wraper {
        display: none;
    }
}