:root {
    --primarycolor: #203E51;
    --fontcolor: #E7DED5;
}

/* Definições gerais */
html {
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fontcolor);
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
}

/* Fim das definições gerais */

/* Estilizando cabeçalho*/
header {
    width: 100%;
    background-color: var(--primarycolor);
}

nav {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    display: block;
    outline: none;
}

.logo img:focus {
    outline: none;
}

.search {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.input-item {
    width: 80%;
    position: relative;
}

.button-icon-search {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.search input[type=text] {
    width: 100%;
    padding: 9px 40px 9px 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    background-color: var(--fontcolor);
    color: var(--primarycolor);
}

.filter {
    width: 15%;
}

.filter>img {
    width: 30px;
    cursor: pointer;
}

ul.ul-desktop {
    display: flex;
    gap: 1.5rem;
}

ul.ul-desktop li>a {
    font-size: 1.1rem;
    padding: 8px 15px 12px 0;
    position: relative;
}

ul.ul-desktop li>a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--fontcolor);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

ul.ul-desktop li>a:hover::after {
    width: 100%;
}

.button-menu-mobile,
.mobile-menu {
    display: none;
}

/*Fim da estilização do cabeçalho*/

@media (width <=850px) {

    /* Cabeçalho responsivo part1*/
    .search-desktop {
        width: 60%;
    }

    .menu-desktop {
        display: none;
    }

    .button-menu-mobile {
        display: block;
    }

    .button-menu-mobile button {
        background: none;
        border: 0;
        cursor: pointer;
    }

    .icon {
        width: 31px;
        height: 27px;
    }

    .mobile-menu {
        display: none;
    }

    .search-mobile {
        display: none;
    }

    .mobile-menu>.ul-mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        gap: 1.6rem;
        justify-content: center;
    }

    .open {
        display: block;
    }

    /* Fim do cabeçalho responsivo part1*/
}

@media (width <=660px) {

    /* Cabeçalho responsivo part2*/
    nav {
        padding: 0 3% 0 1%;
    }

    .logo img {
        width: 110px;
    }

    .search-desktop {
        width: 65%;
    }

    .input-item {
        width: 75%;
    }

    .filter {
        width: 22%;
    }

    /* .search-desktop {
        display: none;
    } */

    /* .search-mobile {
        display: flex;
        margin: 0 auto;
        width: 85%;
    } */

    .search-mobile>.input-item {
        width: 85%;
    }

    .search-mobile>.filter {
        width: 10%;
    }

    /* Fim dp cabeçalho responsivo part2*/

}